
#f_azul{
    color:rgb(58, 156, 255);
   
}

 #titulo{

    margin-left: 5%;
    align-content: center;
    color:rgb(58, 156, 255);

}

.contenedor{

    position: relative;
    display: inline-block;
    
    text-align: center;
    transition: all .2s;
    }
    #btn_encima{
        padding: 5%;
        color: rgb(0, 0, 0);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background:rgb(255, 255, 255);
        text-decoration:none;
        text-transform: none;
        transition: all .1s;
        border-radius: 8px;
        border: 1px solid #0dcaf0;
        color: rgb(13, 110, 253);
        font-weight: lighter;
    }
    #btn_encima:hover{
        color: rgb(0, 0, 0);
        background:rgb(13, 110, 253);
        text-decoration:none;
        text-transform: none;
    
    }
    
    .contenedor:hover{
    
        transition: all .2s;
        scale: 105%;
        
    }
    
    #img_ajustar{
        object-fit: cover;
        width:100%;
        height:100%;
    
    }
 
.texto_encima{

    position: absolute;
    bottom: 15%;
    left: 15%;
    font-size: 20px;
    color: white;
    
    }
h1 {
text-align: center;
}


/*
body{

    background-color: rgb(255, 255, 255);

    background-color: #000000;
    background-image: url("../img/NewYork.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
*/

#img_ajustar{
    object-fit: cover;
    width:100%;
    height:100%;

}



